[ req ]
default_bits        = 2048
default_keyfile     = selfsigned.key
distinguished_name  = req_distinguished_name
req_extensions      = req_ext
prompt              = no

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = Example Company
OU = IT Department
CN = ad93359e9b1c.mylabserver.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ad93359e9b1c.mylabserver.com
DNS.2 = ad93359e9b1d.mylabserver.com
DNS.3 = ad93359e9b2c.mylabserver.com
DNS.4 = ad93359e9b2d.mylabserver.com
IP.1  = 3.110.185.24
IP.2  = 13.201.82.123

# Generate a private key
openssl genpkey -algorithm RSA -out selfsigned.key -pkeyopt rsa_keygen_bits:2048
openssl req -new -key selfsigned.key -out selfsigned.csr -config openssl.cnf
kubectl create secret tls selfsigned-cert --key selfsigned.key --cert selfsigned.crt -n monitoring